@model Canteen_Automation_System.Models.AccountViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .writings{
        padding-top:50px;
        padding-left:50px;
        padding-right:50px;
    }
    .textbox{
        align-self:center;
        padding:40px;
    }
    .modal{
        margin-top:7%;
    }
        
    .modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: white;
    color: black;
}

.modal-body {padding: 2px 16px;}

    .modal-footer {
        padding: 2px 16px;
        background-color: white;
        color: black;
    }
</style>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <h2 class="writings">Login</h2>
        <div class="textbox">

            <label for="Email">Email</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            <div style="height:20px"></div>

            <label for="Email">Password</label>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            <div style="height:20px"></div>

            <button type="submit">LOGIN</button>
            <div style="padding-right:20px"></div>
            </div>
            }
<button id="myBtn" class="btn btn-light">SIGN UP</button>


            @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
            {
        <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>SignUp</h2>
                        </div>
                        <div class="modal-body">
                            <style>
                                .writings {
                                    padding-top: 50px;
                                    padding-left: 50px;
                                    padding-right: 50px;
                                }

                                .textbox {
                                    align-self: center;
                                    padding: 40px;
                                }
                            </style>
                            <div class="textbox">

                                <label for="Email">Email</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                <div style="height:20px"></div>
                                <label for="Password">Password</label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                <div style="height:20px"></div>
                                <label for="Confirm Password">Confirm Password</label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })

                                <div style="height:20px"></div>
                                <label for="Register As">Register As</label>
                                @Html.DropDownListFor(model => model.RegisterAs, new SelectList(new[] { "Admin", "Chef" }), new { @class = "form-control" })
                                <div style="height:20px"></div>

                                <button id="myBtn" type="submit">SIGN UP</button>
                                <div style="padding-right:20px"></div>
                            </div>

                        </div>
                    </div>

                </div>
            }

            <script>
                // Get the modal
                var modal = document.getElementById('myModal');

                // Get the button that opens the modal
                var btn = document.getElementById("myBtn");

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks the button, open the modal
                btn.onclick = function () {
                    modal.style.display = "block";
                }

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>
        </div>
